/** VOS $VARIABLES Sass ici avant l'importation**/


/*** Importation de Boostrap **/
@import "partials/_bootstrap";

/*** Début des styles personnalisés ***/

#btnFiltre {
   background-color: $gray-700 !important;
   color: $light !important;
}

#flush-collapseOne {
   @extend #btnFiltre;
   background-color: $gray-600 !important;
}

.card {
   background-color: $orange-100 !important;
}

.questionnaire {
   background-color: $blue-800;
   color: $light;
}